<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="XmlFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/app.xml" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="XmlFileAppender" />
  </root>
</log4net>
